.wrapper {
    font-family: "League Spartan", sans-serif;
    font-style: normal;
    color: #161515;
    font-weight: 300px;
}

.welcome {
    background: #f8f8f8;
}


.welcome__container {
    display: flex;
}

.offer {
    padding-top: 104px;
    max-width: 640px;
}

.offer__model {
    font-weight: 300px;
    font-size: 24px;
    margin-bottom: 53px;
}

.title {
    font-weight: 300;
    font-size: 250px;
    color: 272727;
    line-height: 0.9;
    margin-bottom: 54px;
}

.desc {
    font-size: 32px;
    line-height: 1.55;
}

.offer__desc {
    margin-bottom: 61px;
}

.buy {
    display: flex;
}

.buy__link {
    background: #161515;
    color: #fff;
    font-weight: 300;
    font-size: 32px;
    padding: 26px 74px;
    display: inline-block;
}

.buy__price {
    /*
     Тень
     box-shadow: Смещение_по_X, Смещение_по_Y, размытие, растяжение, цвет
    */
    box-shadow: 0 0 28px 0 rgba(214, 214, 214, 0.25);
    background-color: #fff;
    display: inline-flex;
    align-items: center;
    font-size: 32px;
    color: #272727;
    padding: 0px 28px;
}